* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-color: black;
  width: 100%;
  margin-top: 50px;
  .sideControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 69px 56px;
    .leftSide {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .firstLeft {
        h2 {
          color: #00ff66;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
        }
      }
      .twoLeft {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .headersTwo {
          h2 {
            font-size: 48px;
            color: white;
            font-family: "Poppins", sans-serif;
            width: 450px;
          }
        }
        .dateTwo {
          display: flex;
          align-items: center;
          gap: 20px;
          .daysTwo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            font-family: "Poppins", sans-serif;
            h1 {
              font-weight: 600;
            }
            h2 {
              font-size: 14px;
            }
          }
        }
      }
      .threeLeft {
        button {
          font-family: "Poppins", sans-serif;
          background-color: #00ff66;
          color: black;
          border: none;
          border-radius: 10px;
          padding: 16px 48px;
        }
      }
    }
    .rightSide {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 50%;

        background: gray;
        filter: blur(50px); /* Sadece arka plana bulanıklık efekti */
      }

      img {
        width: 100%;
        position: relative;
        z-index: 1; /* Görseli üstte tut */
      }
    }
  }
}
.hr{
  hr{
    margin-top: 50px;
  }
}
@media(max-width:498px){
    .background{
        .sideControl{
            display: flex;
            flex-direction: column;
            gap: 70px;
            .leftSide{
                .firstLeft{
                    width: 100%;
                    h2{
                        font-size: 16px;
                    }
                }
                .twoLeft{
                    .headersTwo{
                        h2{
                            width: 100%;
                            font-size: 32px;
                        }
                    }
                    .dateTwo{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .daysTwo{
                            width: 35%;
                        }
                    }
                }
                .threeLeft{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
