* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  padding-top: 80px;
  padding-bottom: 80px;
}
.background .control .header {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
}
.background .control .header h2 {
  color: rgb(139, 139, 139);
}
.background .control .header a {
  text-decoration: none;
  color: rgb(139, 139, 139);
}
.background .control .header h3 {
  color: black;
}
.background .control .price {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.background .control .price .border {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .control .price .border .images {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 40px;
  border-radius: 5px;
}
.background .control .price .border .images img {
  padding: 14px 9px;
}
.background .control .price .border .images .salesPosition {
  position: absolute;
  font-family: "Poppins", sans-serif;
  z-index: 1000000000000000000000000000000000;
  left: 8%;
  top: 6%;
  transform: translate(-8%, -6%);
  background-color: #db4444;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}
.background .control .price .border .itemName {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.background .control .price .border .itemName h2 {
  font-family: "Poppins", sans-serif;
}
.background .control .price .border .itemName h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  color: red;
}
.background .control .price .border .itemName h3 h4 {
  color: gray;
  font-family: "Poppins", sans-serif;
  text-decoration: line-through;
}
.background .control .price .border .itemName h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-family: "Poppins", sans-serif;
}
.background .control .price .border .itemName h1 h2 {
  font-family: "Poppins", sans-serif;
}
.background .control .price .border .itemCount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 10px;
}
.background .control .price .border .itemCount button {
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}
.background .control .price .border .itemCount h1 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
.background .control .price .border .subtotal {
  padding-top: 20px;
}
.background .control .price .border .subtotal h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.background .control .price .border .subtotal h1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #db4444;
}
.background .control .price p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 100%;
}
.background .control .price .total h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.background .control .price .total h2 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #db4444;
}

@media (max-width: 498px) {
  .background {
    padding-top: 40px;
  }
  .background .control .price {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }
}/*# sourceMappingURL=index.module.css.map */