* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  padding-top: 50px;
  padding-bottom: 20px;
}
.background .header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.background .header button {
  width: 15px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #db4444;
}
.background .header h2 {
  font-family: "Poppins", sans-serif;
  color: #db4444;
  font-weight: 600;
}
.background .flashHeader {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background .flashHeader .flashSales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.background .flashHeader .flashSales h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
}
.background .flashHeader .flashSales button {
  background-color: #db4444;
  border: none;
  padding: 5px 14px;
  border-radius: 10px;
}
.background .flashHeader .flashSales button a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.background .flashHeader .flashDate {
  display: flex;
  align-items: center;
  gap: 20px;
}
.background .flashHeader .flashDate h3 {
  color: red;
  font-size: 20px;
  font-weight: 700;
}
.background .flashHeader .flashDate .flashDays h1 {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.background .flashHeader .flashDate .flashDays h2 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.background .controlBorder {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.background .controlBorder .border {
  background-color: white;
  border: 1px solid gray;
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.background .controlBorder .border .images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 40px;
  border-radius: 5px;
}
.background .controlBorder .border .images .price {
  width: 100%;
}
.background .controlBorder .border .images .price img {
  width: 100%;
  padding: 14px 9px;
}
.background .controlBorder .border .images .eyeIcons {
  position: relative;
  top: -50%;
  left: 10%;
  transform: translate(-10%, 50%);
}
.background .controlBorder .itemName {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  gap: 5px;
}
.background .controlBorder .itemName h2 {
  font-family: "Poppins", sans-serif;
}
.background .controlBorder .itemName h3 {
  font-size: 10px;
  color: rgb(93, 93, 247);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.background .controlBorder .itemName button {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #db4444;
  border: none;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.background .viewAll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background .viewAll button {
  background-color: #db4444;
  font-family: "Poppins", sans-serif;
  padding: 15px 40px;
  color: white;
  border: none;
  border-radius: 5px;
}

@media (max-width: 498px) {
  .background {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .background .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .background .header h2 {
    font-size: 24px;
  }
  .background .flashHeader {
    flex-direction: column;
    align-items: flex-start;
  }
  .background .flashHeader .flashSales h2 {
    font-size: 24px;
  }
  .background .flashHeader .flashDate {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .background .flashHeader .flashDate h3 {
    font-size: 16px;
  }
  .background .flashHeader .flashDate .flashDays h1 {
    font-size: 10px;
  }
  .background .flashHeader .flashDate .flashDays h2 {
    font-size: 24px;
  }
  .background .controlBorder {
    flex-direction: column;
    gap: 20px;
  }
  .background .controlBorder .border {
    width: 100%;
  }
  .background .controlBorder .border .images .price img {
    width: 80%;
    height: 20vh;
  }
  .background .controlBorder .border .images .eyeIcons {
    position: relative;
    top: 90%;
    left: 10%;
    transform: translate(-10%, -90%);
  }
}/*# sourceMappingURL=index.module.css.map */