html{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif !important;
}

/* styles.css */
.custom-cursor {
    object-fit: cover;
    cursor: url('./custom-cursor.svg'), auto; /* src klasöründe olduğu için './' ile başlatabilirsiniz */
}
